.stats-box-1{
  position: absolute;
  top: 1vw;
  left: 12vw;
  width: 30vw;
  height: 20vw;
  background: rgba(40, 44, 52, 1);
  box-shadow: 0 0 0.2vw black;
  display: none;
  z-index: 100;
}

.stats-list{
  position: relative;
  top: 1vw;
  left: 43vw;
  width: 56vw;
  height: 4vw;
  background: rgba(40, 44, 52, 1);
  box-shadow: 0 0 0.2vw black;
  margin-bottom: 0.5%;
  margin-left: 0%;
  display: none;
}
.right-align-stats{
  position: absolute;
  right: 1vw;
  width: 30%;
  text-align: right;
  font-size: 1.6vw;
  line-height: 3vw;
  color: whitesmoke;
}
.left-align-stats{
  position: absolute;
  left: 1vw;
  width: 70%;
  font-size: 1.5vw;
  line-height: 3vw;
  color: whitesmoke;
}
